.password {
  position: relative;
  display: grid;
  row-gap: 1rem;

  &__field {
    @extend .input__field;
  }

  &__label {
    @extend .input__label;
  }

  &__instructions {
    position: absolute;
    right: -30rem;

    p {
      font-size: 1.3rem;
      line-height: 1.6rem;
    }
  }

  &__title {
    display: flex;
    margin-top: 3rem;
  }

  &__bubble {
    position: absolute;
    left: -65%;
    z-index: -1;
    width: 200%;
    height: 130%;

    fill: rgba($color-grey-1, 0.15);
  }

  &__sign {
    @extend .u-flex-center;
    @extend .u-sign;
    background-color: $color-tertiary;
    margin-left: 1rem;
  }
}
